## 서울시 구별 CCTV현황 분석하기
- 서울시 각 구별 CCTV수 파악
- 인구대비 CCTV 비율을 파악해서 순위매기기
- 인구대비 CCTV의 예측치를 확인하고,CCTV가 부족한 구 확인

In [8]:
# numpy : 고성능 과학계산을 위한 라이브러리, 다차원 데이터
# pandas : 데이터를 표 형식으로 보여줌 1,2차원 데이터
# matplotlib : 데이터 시각화

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 1.CSV파일 읽어오기 -서울시 구별 CCTV현황

In [10]:
cctv_seoul = pd.read_csv('CCTV_in_Seoul.csv',
                          encoding = 'utf-8')
# 상위의 데이터 불러오기
# 기본값으로 5개를 불러옴
# 데이터를 잘 불러왔는지 확인
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

## 2. 엑셀(xls)파일 읽기 - 서울시 인구 현황

In [11]:
#read_excel사용해서 population_in_Seoul파일 읽어오기
#utf-8
#euc-kr
#cp949
pop_seoul = pd.read_excel('population_in_Seoul.xls')
pop_seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

## 3.데이터 전처리

In [12]:
# cctv데이터 컬럼명 수정
# 기관명 > 구별
# rename({바꿀 값 : 바뀔 값}) : 컬럼명 바꾸기
#cctv_seoul.rename(columns={cctv_seoul.columns[0]:"구별"})>값을 출력만 함

# 값을 저장하는 두가지 방법
#1.동일변수에 출력값 저장하기
#cctv_seoul=cctv_seoul.rename(columns={cctv_seoul.columns[0]:"구별"}
#2.inplace = True속성사용하기: 출력>저장
cctv_seoul.rename(columns={cctv_seoul.columns[0]:"구별"},inplace = True)
cctv_seoul

      구별    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [13]:
#  population 데이터 수정
# 받아올 범위 지정하기
# header:시작할 행(row)선택
# uescols: 가져올 column 선택
pop_seoul = pd.read_excel('population_in_Seoul.xls',
                          header = 2,
                         usecols='B,D,G,J,N')
pop_seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [14]:
# population 컬럼명 바꾸기
# 자치구>구별
# 계>인구수
# 계.1>한국인
# 계.2>외국인
# 65세이상 고령자 > 고령자
#{'자치구':'구별','계':'인구수'}
pop_seoul.rename(columns={
          pop_seoul.columns[0]:"구별",
          pop_seoul.columns[1]:"인구수",
          pop_seoul.columns[2]:"한국인",
          pop_seoul.columns[3]:"외국인",
          pop_seoul.columns[4]:"고령자"}
                ,inplace=True)
pop_seoul.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

### CCTV가 가장 적은 구와 가장 많은 구를 확인

In [15]:
#CCTv 가장 적은 구 확인
#컬럼안에 값을 기준으로 정렬
#by 속성에 기준이되는 컬럼 입력
#기본 정렬값은 오름차순
cctv_seoul.sort_values(by='소계')

      구별    소계  2013년도 이전  2014년  2015년  2016년
9    도봉구   485        238    159     42    386
12   마포구   574        314    118    169    379
17   송파구   618        529     21     68    463
24   중랑구   660        509    121    177    109
23    중구   671        413    190     72    348
5    광진구   707        573     78     53    174
2    강북구   748        369    120    138    204
1    강동구   773        379     99    155    377
3    강서구   884        388    258    184     81
19  영등포구   904        495    214    195    373
13  서대문구   962        844     50     68    292
22   종로구  1002        464    314    211    630
7    금천구  1015        674     51    269    354
15   성동구  1062        730     91    241    265
11   동작구  1091        544    341    103    314
8    노원구  1265        542     57    451    516
10  동대문구  1294       1070     23    198    579
16   성북구  1464       1009     78    360    204
4    관악구  1496        846    260    390    613
6    구로구  1561       1142    173    246    323
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
14   서초구  1930       1406    157    336    398
18   양천구  2034       1843    142     30    467
0    강남구  2780       1292    430    584    932

In [16]:
#cctv 가장 많은 구 확인
#정렬을 내림차순으로 바꾼다
# > ascending = False 속성 추가
cctv_seoul.sort_values(by='소계',ascending=False)

      구별    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
18   양천구  2034       1843    142     30    467
14   서초구  1930       1406    157    336    398
21   은평구  1873       1138    224    278    468
20   용산구  1624       1368    218    112    398
6    구로구  1561       1142    173    246    323
4    관악구  1496        846    260    390    613
16   성북구  1464       1009     78    360    204
10  동대문구  1294       1070     23    198    579
8    노원구  1265        542     57    451    516
11   동작구  1091        544    341    103    314
15   성동구  1062        730     91    241    265
7    금천구  1015        674     51    269    354
22   종로구  1002        464    314    211    630
13  서대문구   962        844     50     68    292
19  영등포구   904        495    214    195    373
3    강서구   884        388    258    184     81
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
5    광진구   707        573     78     53    174
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109
17   송파구   618        529     21     68    463
12   마포구   574        314    118    169    379
9    도봉구   485        238    159     42    386

### 최근 3년동안 CCTV가 많이 설치된 지역을 알아보자

In [18]:
# 최근 3년 생성 갯수
# 컬럼값 2014+2015+2016
# 컬럼생성
# 변수명['생성컬럼명']=컬럼에 들어갈 값
cctv_seoul['최근 3년 생성 갯수'] = cctv_seoul['2014년'] + cctv_seoul['2015년']+cctv_seoul['2016년']

In [20]:
cctv_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년  최근 3년 생성 갯수
0  강남구  2780       1292    430    584    932         1946
1  강동구   773        379     99    155    377          631
2  강북구   748        369    120    138    204          462
3  강서구   884        388    258    184     81          523
4  관악구  1496        846    260    390    613         1263

### 최근 3년동안 CCTV증가율
- 1.'최근 3년 증가율'컬럼 생성
- 2. 최근 3년 cctv 증가 갯수 / 2013년 이전 cctv 갯수
- 3. 어떤 구에서 가장 많은 비율의 cctv가 증가했는지 알아보기

In [28]:
cctv_seoul['최근 3년 증가율']=cctv_seoul['최근 3년 생성 갯수']/cctv_seoul['2013년도 이전']*100

In [30]:
cctv_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년  최근 3년 생성 갯수   최근 3년 증가율
0  강남구  2780       1292    430    584    932         1946  150.619195
1  강동구   773        379     99    155    377          631  166.490765
2  강북구   748        369    120    138    204          462  125.203252
3  강서구   884        388    258    184     81          523  134.793814
4  관악구  1496        846    260    390    613         1263  149.290780

In [29]:
cctv_seoul.sort_values(by='최근 3년 증가율', ascending=False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년  최근 3년 생성 갯수   최근 3년 증가율
22  종로구  1002        464    314    211    630         1155  248.922414
9   도봉구   485        238    159     42    386          587  246.638655
12  마포구   574        314    118    169    379          666  212.101911
8   노원구  1265        542     57    451    516         1024  188.929889
1   강동구   773        379     99    155    377          631  166.490765

### 서울시 인구 데이터 파악

In [33]:
#행, 열의 갯수 출력
cctv_seoul.shape

(25, 8)

In [34]:
pop_seoul.shape

(27, 5)

In [35]:
cctv_seoul.columns

Index(['구별', '소계', '2013년도 이전', '2014년', '2015년', '2016년', '최근 3년 생성 갯수',
       '최근 3년 증가율'],
      dtype='object')

In [36]:
pop_seoul.columns

Index(['구별', '인구수', '한국인', '외국인', '고령자'], dtype='object')

In [37]:
cctv_seoul['구별'].unique()

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'], dtype=object)

In [38]:
pop_seoul['구별'].unique()

array(['합계', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구',
       '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구',
       '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', nan],
      dtype=object)

In [40]:
#set
#집합 자료형
#-순서가 없음
#-중복을 허용하지 않는다
set(pop_seoul['구별'])-set(cctv_seoul['구별'])
#pop_seoul에는 있고 cctv_seoul에는 없는 데이터

{nan, '합계'}

In [41]:
set(cctv_seoul['구별'])-set(pop_seoul['구별'])

set()

In [42]:
set(cctv_seoul['구별'])|set(pop_seoul['구별'])

{nan,
 '강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구',
 '합계'}

### pop_seoul['구별']에서 nan 값과 합계 값이  있는 행 삭제

In [44]:
#Boolean인덱싱을 통해서 '구별' 컬럼에 합계 값이 있는 행출력
pop_seoul[pop_seoul['구별'] == '합계']

   구별         인구수        한국인       외국인        고령자
0  합계  10197604.0  9926968.0  270636.0  1321458.0

In [49]:
# == : 같냐?
# 같으면 True
# 다르면 False
pop_seoul['구별'] == '합계'

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
Name: 구별, dtype: bool

In [54]:
# 인덱싱에 Boolean값을 사용하면
# True값은 출력하고 
#  False 값은 출력하지 않는다.
pop_seoul[pop_seoul['구별']=='합계'].index

Int64Index([0], dtype='int64')

In [56]:
# drop 합수
# drop(행 번호)
# 합계 행 제거
pop_seoul.drop([0],inplace=True)

In [60]:
# 결측치 제거
# isnull)()
# 결측치: True
# 결측치가 아닌값 :False
pop_seoul[pop_seoul['구별'].isnull()].index

Int64Index([26], dtype='int64')